In [1]:
import pandas as pd
import numpy as np

In [2]:
data= pd.read_csv("/Users/indrajanambiar/Documents/Semester 3/dalab 3/india-news-headlines copy.csv")

In [3]:
data.head()

,publish_date,headline_category,headline_text
0,20010102,unknown,Status quo will not be disturbed at Ayodhya; s...
1,20010102,unknown,Fissures in Hurriyat over Pak visit
2,20010102,unknown,America's unwanted heading for India?
3,20010102,unknown,For bigwigs; it is destination Goa
4,20010102,unknown,Extra buses to clear tourist traffic

In [4]:
data.tail()

,publish_date,headline_category,headline_text
3650965,20220331,city.srinagar,J&K sacks 2 cops; 3 other employees over terro...
3650966,20220331,entertainment.hindi.bollywood,Ranbir Kapoor says 'Rishi Kapoor enjoyed his a...
3650967,20220331,city.trichy,As Covid-19 cases drop to nil in southern dist...
3650968,20220331,city.erode,Tamil Nadu sees marginal rise of Covid cases w...
3650969,20220331,city.salem,Tamil Nadu sees marginal rise of Covid cases w...

In [5]:
data.shape

(3650970, 3)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650970 entries, 0 to 3650969
Data columns (total 3 columns):
 #   Column             Dtype
---  ------             -----
 0   publish_date       int64
 1   headline_category  object
 2   headline_text      object
dtypes: int64(1), object(2)
memory usage: 83.6+ MB

In [7]:
data.describe()

       publish_date
count  3.650970e+06
mean   2.013193e+07
std    5.252282e+04
min    2.001010e+07
25%    2.010042e+07
50%    2.014023e+07
75%    2.017093e+07
max    2.022033e+07

In [8]:
### data preprocessing

In [9]:
data.isnull().sum()

publish_date         0
headline_category    0
headline_text        0
dtype: int64

In [10]:
data.duplicated().sum()

24860

In [11]:
data.drop_duplicates(inplace=True)   ### removed duplicated columns

In [12]:
data.duplicated().sum()

0

In [13]:
### TF-IDF

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [15]:
## TFIDF Calculaton

text_content = data["headline_text"]

vector = TfidfVectorizer(max_df= 0.3, # drop words that occur in more than X percent of documents
                             #min_df=8,      # only use words that appear at least X times
                             stop_words='english', # remove stop words
                             lowercase=True, # Convert everything to lower case 
                             use_idf=True,   # Use idf
                             norm=u'l2',     # Normalization
                             smooth_idf=True # Prevents divide-by-zero errors
                            )
tfidf = vector.fit_transform(text_content)

In [17]:
data = pd.DataFrame(tfidf[0].T.todense(), index = vector.get_feature_names(), columns=["TF-IDF"])

data = data.sort_values('TF-IDF', ascending=False)

In [18]:
data

             TF-IDF
disturbed  0.506482
quo        0.473163
vajpayee   0.415386
ayodhya    0.395103
status     0.362839
...             ...
foretells  0.000000
foretold   0.000000
forev      0.000000
foreve     0.000000
zzzz       0.000000

[219230 rows x 1 columns]

In [19]:
### cosine similarity

In [26]:
from sklearn.metrics.pairwise import cosine_similarity

# Get user query
query = input("Enter your query: ")
doc3_tfidf=vector.transform([query])
# calculate the cosine similarity between the documents
sim3 = cosine_similarity(tfidf, doc3_tfidf).flatten()

Enter your query: Fissures in Hurriyat over Pak visit

In [27]:
print(sim3)

[0. 1. 0. ... 0. 0. 0.]

In [29]:
# sort the headlines by cosine similarity and print the top results
related_headlines_indices = sim3.argsort()[:-10:-1]
print("Top related headlines:")
for i in related_headlines_indices:
    print(text_content[i])

Top related headlines:
Fissures in Hurriyat over Pak visit
Surviving Terri: Who decides right to die?
NC demands unilateral ceasefire in J-K
Assam puja alert: Ulfa may strike
The sound of digital music
Patriot missiles coming India's way?
Chitrangada: The new kid in B'wood
Perfectly happy with postal service
If looks could kill